header{
    background-color: var(--colorPrincipal);
}

/*Definiones para cabecera sin logo*/

header.sinLogo{
    display: grid;
    align-items: center;
}

header.sinLogo h1{
    text-align: center;
    color: white;
    font: 16pt Impact;
}


/*Definiciones para cabecera con logo*/

/*
Tenemos tres clases para el header.
---izquierda hace uso del display grid y
---centrado no usa display grid y
--derecha utiliza float
*/


header.conLogo{
    background-color: var(--colorPrincipal);
    padding: 0em 1em;
}

header.conLogo img {
    height: 7vh;
    border-radius: 100%;
    grid-area: logo;
}

header.conLogo h1 {
    font-size: 1.5em;
    grid-area: titulo;
}

header.conLogo.conLogo--centrado{
    text-align: center;
}

header.conLogo.conLogo--centrado h1{
    display: inline-block;
}

header.conLogo.conLogo--centrado img{ /*TODO: FIX*/
    line-height: 10vh;
}

header.conLogo.conLogo--izquierda{
   display: grid;
   grid-template-areas: 
   "logo titulo"
   ;
   grid-template-columns: 10% 90%;
   align-items: center;
   grid-gap: 5vh;
}

header.conLogo.conLogo--derecha{
    display: grid;
    grid-template-areas: "titulo logo";
    grid-template-columns: 90% 10%;
    align-items: center;
    grid-gap: 5vh;
}