footer{
    display: grid;
    align-items: center;
    background-color: var(--colorTerciario);
    color: var(--colorPrincipal);
    width: 100%;
    text-align: center;
    height: auto;
}

footer a{
    color: var(--colorPrincipal);
    text-decoration: none;
}