:root {
    --fuenteGeneral:12pt Verdana, Arial;
    --colorPrincipal:#66C6DE;
    --colorSecundario:#667ADE;
    --colorTerciario:#7866DE;
    --colorCuaternario:#3E8CE0;
    --colorGeneralLetra:#161d31;
}